body {
	background: linear-gradient(#360f1100, #13010100);
	font-size: 18px;
	position: relative; 
	height: 300%;
	/*text-align: center;*/
	color: rgb(255, 255, 255);
	font-family: 'font-family: 'Lobster', cursiva;
}

li {
	float: Center;
	display: block;
	padding: 45px;
	background-color: #070101;

}
 
li {
	border-right: 20px solid rgb(0, 0, 0);
  }
  
  li:last-child {
	border-right: none;
  }
   
  body {
	  background-image: url(../img/tumblr_ni0udv7VdU1to3m7wo1_500.gif);
	  background-size: cover;
	  background-position: center;
	}


	





  