body {
	background: linear-gradient(#210203, #c9080b);
	font-size: 18px;
	position: relative; 
	height: 100%;
	text-align: center;
	color: red;
	font-family: 'font-family: 'Lobster', cursiva;
}

li {
	float: left;
	display: block;
	padding: 8px;
	background-color: #c71010;
  }
  
  a {
	display: block;
	padding: 8px;
	background-color: #c71010;
  }

	

	
	
