body {
	background: linear-gradient(#f0070e, #130101);
	font-size: 18px;
	position: relative; 
	height: 100%;
	/*text-align: center;*/
	color: rgb(255, 255, 255);
	font-family: 'font-family: 'Lobster', cursiva;
}

li {
	float: Center;
	display: block;
	padding: 45px;
	background-color: #070101;

}
 
li {
	border-right: 1px solid rgb(0, 0, 0);
  }
  
  li:last-child {
	border-right: none;
  }
	

	
  li {
	border-right: 1px solid rgb(238, 6, 6);
  }
  
  li:last-child {
	border-right: none;
	ul {
		position: fixed;
		top: 0;
		width: 100%;
		position: fixed;
		top: 0;
		width: 100%;
  }	





  